<div class="container w-25 mt-5 border border-3 shadow-lg p-3 mb-5 bg-body rounded p-5" >
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>Welcome</h1>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
             <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input formControlName="password"  type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
        <a routerLink="../forget-password" class="m-5" href="">Forget Password</a>
    </form>
</div>